body{
    background-image: url(background1.png);
    padding:20px;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
}

.menu{
    width:80%;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    color:#191970;
}

.menu::before{
    background-color: #e0ffff	;
    content: "";
    background-size: 80%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}

.title{
    color:white;
    font-family: 'Lucida Sans';
    margin: 10px auto 30px auto;
}

h1,p,form{
    position:relative;
}

.instruction{
    text-align: center;
    margin-bottom: 50px;
}

h1{
    margin-block-end: 5px;
}

p{
    margin-block-start: 5px;
    text-align: center;
    font-size: 18px;
}

legend{
    font-size: 20px;
    font-weight: bold;
}

fieldset{
    margin-bottom: 60px;
}

fieldset:last-of-type{
    margin-bottom:30px;
}

input,textarea,select{
    margin: 10px 5px;
    width:20%;
    min-height: 1.5em;
    background-color: azure;
    border: 1px solid #191970;
    color:black;
    font-family:Verdana;
    font-size: 14px;
}

input[type="date"]{
    width:10%;
}

input[type="radio"],input[type="checkbox"]{
    margin: 5px 5px;
    width:2%;
    accent-color: #191970;
}

input[type="submit"],input[type="reset"]{
    width:auto;
    min-height:2em;
    border-color: #191970;
    font-size: 18px;
    color:#191970;
}

.button{
    text-align: center;
}

textarea{
    width:80%;
}

tr:nth-child(1){
    background-color: rgb(120,209,239);
}

table,th,td{
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

tr{
    background-color:rgb(191, 239, 255);
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a, a:visited{
    color:rgb(191, 239, 255);
}

a:hover, a:active{
    color:cornflowerblue;
}

img{
    margin: 5px auto;
}

img.logo{
    margin: auto;
}

